# Python
__pycache__
*.pyc
nvi_env
env
.venv

# Config (secrets)
config.toml
.env

# Log files
*.log

# Intermediate data
*.json
*.geojson
*.csv
*.parquet
*.parquet.gzip
*.zip
*.xlsx

# Allow logging config
!logging_config.json

# Allow conf files
!**/conf/*.json
!**/conf/*.csv
!**/conf/*.xlsx

# IDE
.vscode/*

# Jupyter checkpoints
.ipynb_checkpoints/
