aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.1.0
certifi==2025.1.31
d3census @ git+https://github.com/mikevatd3/d3census.git@9c5b6f01c9e722bbd80f6ebe744863c5cacb507e
frozenlist==1.5.0
GeoAlchemy2==0.17.1
geopandas==1.0.1
greenlet==3.1.1
idna==3.10
multidict==6.1.0
mypy-extensions==1.0.0
numpy==2.2.3
-e git+https://github.com/data-driven-detroit/nvi_etl.git@4fce57f0d177e24271d325708b58d68c45808ac9#egg=nvi_etl
packaging==24.2
pandas==2.2.3
pandera==0.22.1
propcache==0.3.0
psycopg==3.2.5
pydantic==2.10.6
pydantic_core==2.27.2
pyogrio==0.10.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.1
returns==0.23.0
shapely==2.0.7
six==1.17.0
SQLAlchemy==2.0.38
tomli==2.2.1
typeguard==4.4.2
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
yarl==1.18.3
